This notebook cleans .txt and .dta data for students performance on exams for BIO1111 and exports a csv which can be analyzed in an R script.
#### Author: Christopher Agard

In [2]:
import pandas as pd
import numpy as np
import os,glob
from soar import *

pd.options.display.max_columns = 50

# Setting source and output folders

In [7]:
tu={'worksource': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX3/Input Data",
    'workoutput': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX3/Output Data"}
gandolf={'worksource': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 3",
    'workoutput': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 3"}

source = gandolf

# Getting and Cleaning Exam Data

In [8]:
os.chdir(source['worksource'])
files = glob.glob('*.dta')
files

['marcexams_2019_2019-A0932 (1).dta', 'marcexams_2019_2019-A0933 (1).dta']

In [9]:
os.chdir(source['worksource'])
df1=cleanSoarExam(files[0],examNum=1,soarSessions=[81])
df1['version'] = 1
df2=cleanSoarExam(files[1],examNum=1,soarSessions=[81])
df2['version'] = 2
df = df1.append(df2)
df.head()

C:\Users\craga\Documents\GitHub\Grading\soar.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tmp['soar'] = soar

,tuid,last,first,middle,unnamed1,unnamed2,unnamed3,soar,ncorrect,examNumber,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19,item_20,item_21,item_22,item_23,item_24,item_25,item_26,item_27,soarType,version
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
1,915694588,GHUGE,YANI,NaN,31.0,10.0,19.0,83.0,18,1,3,2,1,4,2,1,3,2,1,3,1,2,4,2,4,4,2,3,2,3,1,4,3,1,2,2,1,other,1
2,915343879,RAJAN,SHINEY,M,31.0,10.0,75.0,72.0,18,1,2,2,1,3,2,3,3,1,2,2,4,2,4,2,3,1,2,2,3,3,1,4,3,1,2,2,1,other,1
3,915537222,CARY,LOGAN,J,31.0,10.0,2.0,83.0,23,1,4,2,1,3,4,3,3,3,4,2,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,other,1
4,915549067,ILLIANO,MILENA,NaN,31.0,10.0,7.0,71.0,9,1,1,2,4,3,4,1,2,2,3,2,3,3,4,2,4,3,3,3,1,3,1,3,3,4,1,3,1,other,1

We will confirm that the exam key have been appropriately identified and change it if necessary.

In [10]:
df.loc[df.soarType=='key']

,tuid,last,first,middle,unnamed1,unnamed2,unnamed3,soar,ncorrect,examNumber,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19,item_20,item_21,item_22,item_23,item_24,item_25,item_26,item_27,soarType,version
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,83.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,72.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,71.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,84.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,75.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,87.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,81.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,78.0,27,1,4,2,1,3,2,3,3,1,2,3,1,2,4,1,4,4,2,2,2,3,1,4,3,4,3,2,1,key,1
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,78.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,75.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,72.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,81.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,83.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,71.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,87.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,84.0,27,1,1,2,1,3,2,1,3,1,2,1,1,2,4,4,4,2,2,4,2,3,1,2,1,4,3,2,1,key,2

Now we change the dir to the outputfolder and save the cleaned, merged file.

In [11]:
itemcols = df.columns[df.columns.str.contains('item')]
itemcols

Index(['item_1', 'item_2', 'item_3', 'item_4', 'item_5', 'item_6', 'item_7',
       'item_8', 'item_9', 'item_10', 'item_11', 'item_12', 'item_13',
       'item_14', 'item_15', 'item_16', 'item_17', 'item_18', 'item_19',
       'item_20', 'item_21', 'item_22', 'item_23', 'item_24', 'item_25',
       'item_26', 'item_27'],
      dtype='object')

In [12]:
for col in itemcols:
    df[col] = df[col].apply(letters2num)

In [13]:
os.chdir(source['workoutput'])
df.to_csv("Fall19Exam 1_cleaned.csv")

# Analyzing Exam Data

1. [Most Frequently Wrong](#Most-Frequently-Wrong-Answers)

## Strange values for items

In reviewing the data I noted some values outside of the expected 1-4.  Could you help me understand what these are?

In [14]:
all_responses = pd.concat([pd.Series(df[col].unique()) for col in itemcols]).unique()
strange_response = [resp for resp in all_responses if resp not in ['A','B','C','D','E','1','2','3','4','5']]
strange_resp_item=[col for col in itemcols if df.loc[df[col].isin(strange_response),col].shape[0]>0]
print("The strange responses {} were found for the following items:\n{}".format(strange_response, strange_resp_item))

The strange responses [' '] were found for the following items:
['item_7', 'item_8']

## Most Frequently Wrong Answers

Here we identify the columns containing information about responses.

In [15]:
df.soarType.value_counts()

other    208
mine      31
key       20
Name: soarType, dtype: int64

Now we apply this function to create a ranked list of items by order of the number of my students getting them wrong.

## Sec 81

In [16]:
wrongcount_v1_mine = pd.DataFrame()
for col in itemcols:
    wrongcount_v1_mine = wrongcount_v1_mine.append(countwrong(df= df.loc[df.soar==81], col = col, ver = 1,compind=['mine','other']))
wrongcount_v1_mine = wrongcount_v1_mine.sort_values(['number','item'],ascending=False).reset_index(drop = True)
# wrongcount_v1_mine.index = wrongcount_v1_mine.item
# wrongcount_v1_mine= wrongcount_v1_mine.drop(columns = 'item')
wrongcount_v1_mine

       item  number
0    item_8      11
1   item_18       9
2   item_10       9
3    item_5       8
4    item_4       8
5   item_20       8
6   item_23       7
7   item_22       7
8   item_11       7
9    item_9       6
10   item_7       6
11   item_6       6
12  item_24       6
13  item_14       6
14   item_3       5
15  item_25       5
16  item_16       5
17  item_13       4
18  item_26       3
19  item_12       3
20  item_21       2
21  item_19       1
22  item_17       1
23  item_15       1
24   item_1       1
25  item_27       0
26   item_2       0

In [17]:
wrongcount_v2_mine = pd.DataFrame()
for col in itemcols:
    wrongcount_v2_mine = wrongcount_v2_mine.append(countwrong(df= df.loc[df.soar==81], col = col, ver = 2,compind=['mine','other']))
wrongcount_v2_mine = wrongcount_v2_mine.sort_values(['number','item'],ascending=False).reset_index(drop = True)
wrongcount_v2_mine

       item  number
0    item_8      13
1    item_4      12
2   item_10      12
3   item_16      10
4   item_22       9
5   item_18       9
6   item_24       8
7   item_23       8
8    item_6       7
9    item_3       7
10  item_26       7
11   item_5       6
12  item_19       6
13   item_7       5
14  item_14       5
15  item_13       5
16  item_20       4
17  item_12       4
18  item_11       4
19  item_27       3
20  item_25       3
21  item_17       3
22   item_9       2
23  item_21       2
24  item_15       2
25   item_1       2
26   item_2       1

In [18]:
total_wrong81 = wrongcount_v1_mine.merge(wrongcount_v2_mine,how='left',on= 'item').set_index(['item']).sum(axis=1)
total_wrong81.to_csv('total wrong 81.csv')
total_wrong81.sort_values(ascending=False)

C:\Users\craga\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

item
item_8     24
item_10    21
item_4     20
item_18    18
item_22    16
item_23    15
item_16    15
item_24    14
item_5     14
item_6     13
item_20    12
item_3     12
item_11    11
item_7     11
item_14    11
item_26    10
item_13     9
item_25     8
item_9      8
item_12     7
item_19     7
item_21     4
item_17     4
item_27     3
item_15     3
item_1      3
item_2      1
dtype: int64

## Printing the Keys

In [19]:
# import numpy as np
v1keys = df.loc[(df.soar.isnull())&(df.soarType=='key')&(df.version==1),itemcols].iloc[0]
v2keys = df.loc[(df.soarType=='key')&(df.version==2),itemcols].iloc[0]
keys = pd.DataFrame(data = {'version1':v1keys,'version2':v2keys})
keys.to_csv('1111 exam 1 S2019 keys.csv',index = False)
keys

        version1 version2
item_1         A        D
item_2         C        C
item_3         D        D
item_4         B        B
item_5         C        C
item_6         B        D
item_7         B        B
item_8         D        D
item_9         C        C
item_10        B        D
item_11        D        D
item_12        C        C
item_13        A        A
item_14        D        A
item_15        A        A
item_16        A        C
item_17        C        C
item_18        C        A
item_19        C        C
item_20        B        B
item_21        D        D
item_22        A        C
item_23        B        D
item_24        A        A
item_25        B        B
item_26        C        C
item_27        D        D

# Evaluating Student Performance

## Score distribution
Now we look at scores by section.

In [20]:
df.ncorrect.describe()

count    259.000000
mean      18.084942
std        4.529033
min        6.000000
25%       15.000000
50%       18.000000
75%       21.000000
max       27.000000
Name: ncorrect, dtype: float64

In [21]:
df.groupby(['soar']).ncorrect.describe()

      count       mean       std   min   25%   50%    75%   max
soar
71.0   33.0  18.090909  4.439620   9.0  16.0  18.0  21.00  27.0
72.0   26.0  18.192308  4.525653   9.0  16.0  18.0  19.75  27.0
75.0   28.0  16.964286  4.803410   6.0  14.0  17.0  19.00  27.0
78.0   51.0  16.843137  4.584201   9.0  13.5  16.0  20.00  27.0
81.0   33.0  18.090909  3.987195   9.0  15.0  17.0  20.00  27.0
83.0   27.0  18.888889  4.361839  10.0  16.5  18.0  22.50  27.0
84.0   23.0  18.608696  4.428617  12.0  15.5  18.0  22.00  27.0
87.0   32.0  18.812500  4.261133   9.0  16.0  18.5  22.00  27.0

## Item Analysis
1. [Percent choice for each item](#Percent-choice-for-each-item)

In [22]:
os.chdir(source['worksource'])
df18 = pd.read_csv('Fall 2018v1.csv')
dfcomp = pd.read_csv('Cross-Walk 2019 Fall to 2018 Fall Exams.csv')
dfcomp

FileNotFoundError: [Errno 2] File b'Fall 2018v1.csv' does not exist: b'Fall 2018v1.csv'

### Percent choice for each item

In [17]:
df_item1 = pd.DataFrame()
for col in itemcols:
    df_item1 = df_item1.append(df.loc[df.version==1,col].value_counts(normalize=True))
df_item1 = df_item1.applymap(lambda x: "{:.0f}".format(x*100))
df_item1 = df_item1.reset_index().rename(columns={'index':'F19E1'})
df_item1['F19E1'] = df_item1.F19E1.apply(lambda x: int(x[5:]))
df_item1 = df_item1.sort_values('F19E1')
df_item1['F18E1'] = dfcomp.F18E1
df_item1.to_csv('Fall 2019v1.csv')
df_item1

C:\Users\tuh27554\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tuh27554\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  This is separate from the ipykernel package so we can avoid doing imports until

    F19E1    A   B    C    D         0  F18E1
0       1    8   2   89    1  nan  nan      1
1       2   97   1    2  nan  nan  nan      2
2       3  nan  79   20    1  nan  nan      4
3       4    1  86    6    7  nan  nan      5
4       5    5   3   87    5  nan  nan      3
5       6    1  53    5   41  nan  nan      6
6       7    7  16   75    2  nan  nan     10
7       8   72  20    3    5    1  nan      7
8       9   20   4   70    6  nan  nan      8
9      10   14  48   35    3  nan  nan      9
10     11    1  72   24    3  nan  nan     11
11     12   58  31    3    7  nan  nan     12
12     13   20   3   26   51  nan  nan     21
13     14   78   9   14  nan  nan  nan     13
14     15    2  59   26   14  nan  nan     14
15     16   16   4   13   68  nan  nan     15
16     17    5  59    9   28  nan  nan     17
17     18   86   3    9    2  nan  nan     18
18     19    5  94  nan    1  nan  nan     16
19     20    2   6   79   13  nan  nan     23
20     21  nan   1  nan   99  nan    1     19
21     22    7  75   12    5    1  nan     20
22     23    3  89    8    1  nan  nan     22
23     24    5   1    5   89  nan  nan     24
24     25  nan  80   16    4  nan  nan     25
25     26   22   2    3   73  nan  nan     26
26     27   43  14   16   28  nan  nan     27

In [18]:
df_item = pd.DataFrame()
for col in itemcols:
    df_item = df_item.append(df.loc[df.version==2,col].value_counts(normalize=True))
df_item = df_item.applymap(lambda x: "{:.0f}".format(x*100))
df_item

           A   B   C    D
item_1     4  91   4    1  nan
item_2    95   1   3    1  nan
item_3   nan  73  27  nan  nan
item_4     1  82   6   10  nan
item_5    10   5  80    5  nan
item_6    40   5  52    3  nan
item_7     3  19  77    1  nan
item_8     6   3  20   71  nan
item_9    27   9  59    6  nan
item_10   10  50  35    5    1
item_11    3  72  21    4  nan
item_12   29   8  51   12  nan
item_13   21   5  25   49  nan
item_14   70  14  13    2    1
item_15   23  13  10   53  nan
item_16   13   3   9   76  nan
item_17    2  58   6   34  nan
item_18   81   6   9    3  nan
item_19    3  95   2  nan  nan
item_20    1   6  11   82  nan
item_21  nan   1   1   98  nan
item_22    8  78  10    4  nan
item_23    2   3   6   89  nan
item_24    7   1   3   88    1
item_25  nan  83  15    2  nan
item_26   17   5   4   73  nan
item_27   41  11  14   34  nan

In [19]:
df18

    Unnamed: 0  F18E1     A   B   C     D
0            0      1   8.0   1  90   1.0  NaN
1            1      2  93.0   5   2   NaN  NaN
2            2      3   1.0  26  71   1.0  NaN
3            3      4  10.0   3  83   4.0  NaN
4            4      5   1.0  83   7   9.0  NaN
5            5      6  11.0   7  12  71.0  NaN
6            6      7  76.0  16   2   4.0  1.0
7            7      8  21.0   7  64   8.0  NaN
8            8      9  10.0  56  29   4.0  NaN
9            9     10   6.0  10  83   1.0  NaN
10          10     11   1.0  73  24   3.0  NaN
11          11     12  78.0  17   4   1.0  NaN
12          12     13  74.0  10  15   1.0  NaN
13          13     14   5.0  58  26  11.0  NaN
14          14     15  10.0   4  16  70.0  1.0
15          15     16   4.0  90   4   1.0  NaN
16          16     17  36.0   5   1  57.0  1.0
17          17     18   4.0  10   1  84.0  NaN
18          18     19   2.0   2   3  93.0  NaN
19          19     20  10.0  74  14   3.0  NaN
20          20     21  10.0   8  38  43.0  NaN
21          21     22   4.0  87   7   1.0  NaN
22          22     23   1.0  17  76   7.0  NaN
23          23     24   2.0   3   6  89.0  NaN
24          24     25   NaN  82  16   1.0  NaN
25          25     26  23.0   5   4  68.0  1.0
26          26     27  39.0  10  22  29.0  NaN

In [ ]:
dfcomp